<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
  <a routerLink="/home" class="navbar-brand d-flex w-50 mr-auto"><img src="assets/images/logo.jpg" alt="Pracownia Grafiki" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my" routerLinkActive="active">MY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">PORTFOLIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">KONTAKT</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="instagram.com"><img src="assets/images/insta.png" alt="Instagram" /></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/Pracownia-Grafiki-192322290798196/"><img src="assets/images/face.png" alt="Facebook" style="height: 26px" /></a>
      </li>
    </ul>
  </div>

</nav>
