.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.black-letter {
  font-size: 160px;
  line-height: 80%;
  color: black;
  font-family: 'Avenir Next Condensed', sans-serif;
}

.borderless td {
  border: none;
}

a.contact-link, a.contact-link:hover {
  text-decoration: none;
  color: rgb(33, 37, 41)
}
