<div class="row">
  <div class="col-sm-8 narrow-padding">
    <video class="tab" controls>Your browser does not support the &lt;video&gt; tag.
      <source src="assets/movies/bruno/VID_20201020_110856.mp4"/>
    </video>
  </div>
  <div class="col-sm-4 narrow-padding portfolio">
    <div class="ml-5">
      <h3 class="mb-5" ng-show="name">URODZINY SCHULZA</h3>
      <div class="pg-gray mb-4 portfolio-desc" ng-show="description">Projekt torby dla Narodowego Centrum Kultury z&nbsp;okazji 120-stej rocznicy urodzin Brunona Schulza.</div>
    </div>
  </div>
</div>
