<div class="row">
  <div class="col-sm-8 narrow-padding">
    <img class="img-fluid" src="assets/images/greenb/gb_0.png" alt="Zielona Księga Okładka">
    <img class="img-fluid" src="assets/images/greenb/gb_1.png" alt="Zielona Księga 1">
    <img class="img-fluid" src="assets/images/greenb/gb_2.png" alt="Zielona Księga 2">
    <img class="img-fluid" src="assets/images/greenb/gb_3.jpg" alt="Zielona Księga 3">
    <img class="img-fluid" src="assets/images/greenb/gb_5.jpg" alt="Zielona Księga 5">
  </div>
  <div class="col-sm-4 narrow-padding">
    <div class="ml-5">
      <h3 class="mb-5">
        ZIELONA KSIĘGA
      </h3>
      <div class="pg-gray mb-5">
        Projekt okładki, layoutu oraz skład publikacji.
      </div>
      <div>
        <span class="pg-gray">Klient:</span> Instytut Spraw Publicznych
      </div>
    </div>
  </div>
</div>
