<div class="row">
  <div class="col-sm-8 narrow-padding">
    <div style="float: right">
      <img class="img-fluid" src="assets/images/chopin/chopin_01.jpg" alt="Chopin 1">
    </div>
    <img class="img-fluid" src="assets/images/chopin/chopin_02.jpg" alt="Chopin 2">
    <img class="img-fluid" src="assets/images/chopin/chopin_03.jpg" alt="Chopin 3">
    <img class="img-fluid" src="assets/images/chopin/chopin_04.jpg" alt="Chopin 4">
  </div>
  <div class="col-sm-4 narrow-padding">
    <div class="ml-5">
      <h3 class="mb-5">{{'portfolio.chopin.title'|translate}}</h3>
      <div class="pg-gray mb-4 portfolio-desc">{{'portfolio.chopin.desc'|translate}}</div>
    </div>
  </div>
</div>
