<div class="row">
  <div class="col-sm-1">
  </div>

  <div class="col-sm-6">

    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
        <div class="text">
          Cześć! Pracownia Grafiki to my,<br />
          Dorota Gawryszewska i Ania Jaworska-Kruk.<br />
          Jesteśmy absolwentkami warszawskiej<br />
          Akademii Sztuk Pięknych, a naszą Pracownię tworzymy od ponad dziesięciu lat.
        </div>
        <div class="mt-4 text">
          Bliska sercu jest nam grafika wydawnicza<br />
          i projekty związane z kulturą, ale działamy też na <br />
          innych polach. Przede wszystkim kochamy dobry <br />
          dizajn i takim chcemy się otaczać.
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-7">
        <img src="assets/images/foto_A.png" alt="Dorota">
      </div>
      <div class="col-sm-5">
        <div class="font-weight-bold big-letter">
          <div class="pink text-right">D</div>
          <div class="black mt-5">A</div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-4">
    <img src="assets/images/foto_D.png" alt="Dorota">
    <div class="mt-5 text" style="margin-top: 120px">
      Projektujemy publikacje, książki, plakaty,<br />
      infografiki. Zajmujemy się tworzeniem<br />
      identyfikacji wizualnej marki.
    </div>
    <div class="mt-4 text">
      Od 2011 roku jesteśmy członkiem STGU.<br />
      Jeśli chcesz z nami współpracować, napisz do <br />
      nas! <a href="mailto:kontakt@pracowniagrafiki.pl" class="pink">kontakt@pracowniagrafiki.pl</a>
    </div>
  </div>
</div>
