<div class="row">
  <div class="col-sm-4 narrow-padding">
      <img class="img-fluid" src="assets/images/kalendarz/01.png" alt="styczeń">
      <img class="img-fluid" src="assets/images/kalendarz/03.png" alt="marzec">
      <img class="img-fluid" src="assets/images/kalendarz/05.jpg" alt="maj">
      <img class="img-fluid" src="assets/images/kalendarz/07.png" alt="lipiec">
      <img class="img-fluid" src="assets/images/kalendarz/09.png" alt="wrzesień">
      <img class="img-fluid" src="assets/images/kalendarz/11.png" alt="listopad">
  </div>
  <div class="col-sm-4 narrow-padding">
      <img class="img-fluid" src="assets/images/kalendarz/02.png" alt="luty">
      <img class="img-fluid" src="assets/images/kalendarz/04.jpg" alt="kwiecień">
      <img class="img-fluid" src="assets/images/kalendarz/06.png" alt="czerwiec">
      <img class="img-fluid" src="assets/images/kalendarz/08.png" alt="sierpień">
      <img class="img-fluid" src="assets/images/kalendarz/10.png" alt="październik">
      <img class="img-fluid" src="assets/images/kalendarz/12.png" alt="grudzień">
  </div>
  <div class="col-sm-4 narrow-padding">
    <div class="ml-5">
      <h3 class="mb-5" ng-show="name">{{'portfolio.kalendarz.title'|translate}}</h3>
      <div class="pg-gray mb-4 portfolio-desc">{{'portfolio.kalendarz.desc'|translate}}</div>
      <div ng-show="client" class="portfolio-desc">
        <span class="pg-gray">Klient: </span>{{'portfolio.kalendarz.client'|translate}}
      </div>
    </div>
  </div>
</div>
