<div class="row">
  <div class="col-sm-8 narrow-padding">
    <img class="img-fluid" src="assets/images/insp/inspirator1.jpg" alt="Inspirator 1">
    <img class="img-fluid" src="assets/images/insp/inspirator2.jpg" alt="Inspirator 2">
    <img class="img-fluid" src="assets/images/insp/inspirator3.jpg" alt="Inspirator 3">
    <img class="img-fluid" src="assets/images/insp/inspirator4.jpg" alt="Inspirator 4">
    <img class="img-fluid" src="assets/images/insp/inspirator5.jpg" alt="Inspirator 5">
  </div>

  <div class="col-sm-4 narrow-padding">
    <div class="ml-5">
      <h3 class="mb-5">
        INSPIRATOR RÓWNOŚCIOWY
      </h3>
      <div class="pg-gray mb-5">
        Publikacja na temat równości w dostępie do dóbr i usług przez miekszkańców Warszawy.
      </div>
      <div>
        <span class="pg-gray">Klient:</span> Instytut Spraw Publicznych
      </div>
    </div>
  </div>
</div>
