<div class="row">
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/home/chopin"><img class="img-fluid" src="assets/images/1.jpg" alt="Chopin"></a>
    <a routerLink="/home/panska"><img class="img-fluid" src="assets/images/2.jpg" alt="Logo Panska"></a>
    <a routerLink="/home/borderless"><img class="img-fluid" src="assets/images/3.jpg" alt="Borderless People"></a>
    <a routerLink="/home/przemoc"><img class="img-fluid" src="assets/images/4.jpg" alt="Przemoc ekonomiczna"></a>
    <a routerLink="/home/pldgraphics"><img class="img-fluid" src="assets/images/5.jpg" alt="Relacje polsko-niemieckie"></a>
  </div>
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/home/direction"><img class="img-fluid" src="assets/images/6.jpg" alt="Kierunek Polska"></a>
    <img class="img-fluid" src="assets/images/7.jpg" alt="Image 7">
    <a routerLink="/home/kalendarz"><img class="img-fluid" src="assets/images/8.jpg" alt="Kalendarz"></a>
    <a routerLink="/home/greenbook"><img class="img-fluid" src="assets/images/9.jpg" alt="Zielona Księga"></a>
    <a routerLink="/home/bees"><img class="img-fluid" src="assets/images/10.jpg" alt="3 Bees"></a>
  </div>
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/home/czeresnie"><img class="img-fluid" src="assets/images/11.jpg" alt="Czereśnie"></a>
    <a routerLink="/home/ksiazka"><img class="img-fluid" src="assets/images/12.jpg" alt="Książka"></a>
    <img class="img-fluid" src="assets/images/13.jpg" alt="Image 13">
    <img class="img-fluid" src="assets/images/14.jpg" alt="Image 14">
    <a routerLink="/home/inspirator"><img class="img-fluid" src="assets/images/15.jpg" alt="Inspirator równościowy"></a>
  </div>
</div>
