<div class="row">
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/chopin"><img class="img-fluid" src="assets/images/1.jpg" alt="Chopin"></a>
    <a routerLink="/panska"><img class="img-fluid" src="assets/images/2.jpg" alt="Logo Panska"></a>
    <a routerLink="/borderless"><img class="img-fluid" src="assets/images/3.jpg" alt="Borderless People"></a>
    <a routerLink="/przemoc"><img class="img-fluid" src="assets/images/4.jpg" alt="Przemoc ekonomiczna"></a>
    <a routerLink="/pldgraphics"><img class="img-fluid" src="assets/images/5.jpg" alt="Relacje polsko-niemieckie"></a>
  </div>
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/direction"><img class="img-fluid" src="assets/images/6.jpg" alt="Kierunek Polska"></a>
    <img class="img-fluid" src="assets/images/7.jpg" alt="Image 7">
    <a routerLink="/kalendarz"><img class="img-fluid" src="assets/images/8.jpg" alt="Kalendarz"></a>
    <a routerLink="/greenbook"><img class="img-fluid" src="assets/images/9.jpg" alt="Zielona Księga"></a>
    <img class="img-fluid" src="assets/images/10.jpg" alt="Image 10">
  </div>
  <div class="col-sm-4 narrow-padding">
    <a routerLink="/czeresnie"><img class="img-fluid" src="assets/images/11.jpg" alt="Czereśnie"></a>
    <a routerLink="/ksiazka"><img class="img-fluid" src="assets/images/12.jpg" alt="Książka"></a>
    <img class="img-fluid" src="assets/images/13.jpg" alt="Image 13">
    <img class="img-fluid" src="assets/images/14.jpg" alt="Image 14">
    <a routerLink="/inspirator"><img class="img-fluid" src="assets/images/15.jpg" alt="Inspirator równościowy"></a>
  </div>
</div>
